<!DOCTYPE html>
<html>

<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Recipe World</a>
			<ul class="right hide-on-med-and-down">
				<li><button data-target="modal1" class="btn modal-trigger">Add Recipe</button></li>
			</ul>
		</div>
	</nav>
	<div class="row" id="recipesid">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		$(document).ready(function(){
        $('.collapsible').collapsible();
        $('.modal').modal();
        $('select').formSelect();
        $('.datepicker').datepicker();
    });
	</script>
</body>

</html>