{% extends 'base.html' %} 
{% block content %} 
<button data-target="modal1" class="btn modal-trigger">Add Recipe</button>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
    <form action="" method="POST" class="col s12" me>
      <div class="row">
        <div class="input-field col s6">
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="first_name">Recipe Name</label>
        </div>
        <div class="input-field col s6">
          <textarea id="recipe_description" name="recipe_description" type="text" class="materialize-textarea"> </textarea>
          <label for="last_name">Recipe Description</label>
        </div>
      </div>
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>       
  <ul class="collapsible">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{recipe.recipe_name}} - <strong> {{recipe.recipe_type}}</strong> - {{recipe.date_added}} </div>
      
      <div class="collapsible-body">
        <span>
        {{recipe.recipe_description}}
        </span>
      </div>
    </li>
    <li>
    {% endfor %}
  </ul>
  

{% endblock %}