<!--This calls the parent styling and MongoDB code from base.html -->
{% extends 'base.html' %}
{% block content %}
<!--This is the collapsible list which contains the recipes, when users submit recipes they show up in this list -->
<ul class="collapsible">
	{% for recipe in recipes %}
	<li>
		<div class="collapsible-header"><i class="material-icons">restaurant</i>{{recipe.recipe_name}} -
			<strong> {{recipe.recipe_type}}</strong> - {{recipe.date_added}}
            <div class="row">
            <a class="waves-effect waves-light btn btn_small green right">Done</a>
            <a href="{{url_for('edit_recipe', recipe_id=recipes._id)}}" class="waves-effect waves-light btn btn_small green right">Edit</a>
            </div> 
            </div>
            

		<div class="collapsible-body background-recipe">
			<span>
        {{recipe.recipe_description}}
        {{recipe.recipe_ingredients}}
        {{recipe.recipe_instructions}}
        </span>
		</div>
	</li>
	<li>
		{% endfor %}
</ul>


{% endblock %}