/* BACKGROUND COLOUR */
body {
    background-color: lightblue;
}

/* NAVBAR STYLING */
nav .nav-wrapper {
    background-color: darkseagreen;
    padding: 2px;
}

/* RECIPES STYLING */
#recipesid {
    padding-top: 5px;
}

.background-recipe {
    background-color: white;
}

.img {
    width: 100%;
    align-content: center;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
