body {
    background-color: lightblue;
}

nav .nav-wrapper {
    background-color: darkseagreen;
    padding: 2px;
}

#recipesid {
    padding-top: 5px;
}

.background-recipe {
    background-color: white;
}